$primary-color: #eee;

.fill {
  background-color: $primary-color;
}

html body {
  @extend .fill;
  font-family: "Arial", sans-serif;
}

.challengeNav {
  margin-bottom: 0;
}

.challengeHomeBody {
  @extend .fill;
}

.backBtnIcon {
  padding-top: 10px;
}

.backBtnText {
  margin-left: 5px;
}

/*
Challenge 1 specific styles
*/

$left-color: #FFD700;
$left-bg-color: #DAA520;
$right-color: #8FBC8F;
$right-bg-color: #556B2F;

.challenge1-text[data-pos=left] {
  color: $left-color;
}
.challenge1-text[data-pos=right] {
  color: $right-color;
}

.challenge1-bg {
  margin-top: 30vh;
}
.challenge1-bg[data-pos=left] {
  background-color: $left-bg-color;
}
.challenge1-bg[data-pos=right] {
  background-color: $right-bg-color;
}

/*
Challenge 2 specific styles
*/

.blueCircle {
  background-color: #0000ff;
  border-radius: 50%;
  border-width: 0px;
  width: 50px;
  height: 50px;
  z-index: -1;
  position: absolute;
}

/*
Challenge 3 specific styles
*/

.circleCommandButtons {
  display: flex;
  flex-direction: row;
}

.circleCommandButton {
  margin: 2px;
}

/*
Challenge 4 specific styles
*/

.userInputForm {
  margin-top: 20px;
}

.userImg {
  width: 100%;
  max-width: 300px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

/*
Challenge 5
*/

.snakeViewContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
